/*set header styling*/
header {
    display: inline-flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #160404;
    margin-top: 20px;
}
.header-left {
    width: 20%;
    justify-content: left;
    margin-left: 5%;
}
.header-center {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.header-right {
    display: inline-flex;
    width: 20%;
    justify-content: right;
    margin-right: 5%;
}
/*set main body styling*/
main {
    display: inline-flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #160404;
    margin-top: 20px;
}
/*create margin on the sides and set center*/
.main-left {
    width: 30%;
}
.main-center {
    display: inline-flex;
    flex-direction: column;
    width: 70%;
    text-align: center;
    color: #160404; /*4b2e83*/
}
.card-lower {
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    display: block;
}
/*style button*/
button {
    background: #4b2e83;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    color: white;
    margin: 5px;
    justify-content: center;
}
/*set footer styling*/
footer {
    display: inline-flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #160404;
    margin-top: 20px;
}
/*misc additional styling and settings*/
.hidden {
    display: none;
}
.lightpurple {
    background: #805acc; 
    color: white;
    margin: 5px;
    border-radius: 10px;
}
.lightgray {
    background: lightgray;
}
.border-top {
    border-top: 3px solid lightgray;
    padding-top: 5px;
}