/*set header styling*/
header {
    display: inline-flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: white;
    margin-top: 20px;
    background: linear-gradient(to left, #20084a, #3463bc);
}
.header-left {
    width: 20%;
    justify-content: left;
    margin-left: 5%;
}
.header-center {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.header-right {
    display: inline-flex;
    width: 20%;
    justify-content: right;
    margin-right: 5%;
}

/*set main body styling*/
main {
    display: inline-flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #160404;
    margin-top: 20px;
}
.margin {
    margin: 5px 0 5px 0;
}
/*create margin on the sides and set center*/
.main-left {
    width: 30%;
    margin-right: 1%;
}
.main-center {
    display: inline-flex;
    flex-direction: column;
    width: 69%;
    text-align: center;
    color: #160404; /*4b2e83*/

}
.card-main {
    border-radius: 5px;
    border-color: black;
    text-align: left;
}
.card-lower {
    margin-top: 10px;
    flex-direction: row;
    justify-content: center;
    display: block;
    text-align: left;
}
.card{
    margin: 0 1% 0 1%;
}
.card5day {
    width: 18%;
    display: inline-flex;
    flex-direction: row;
    font-size: 10px;
}
.width100 {
    width: 100%;
}
/*style button*/

.lightblue {
    background: lightblue;
}
.darkgray {
    background: darkgray;
}
button {
    width: 90%;
    border-radius: 10px;
    color: black;
    margin: 5px;
    justify-content: center;
}
/*set footer styling*/
footer {
    display: inline-flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-items: stretch;
    height: 100%;
    width: 100%;
    font-size: 16px;
    color: #160404;
    margin-top: 20px;
}
/*misc additional styling and settings*/
.hidden {
    display: none;
}
.lightpurple {
    background: #805acc; 
    color: white;
    margin: 5px;
    border-radius: 10px;
}
.lightgray {
    background: lightgray;
}
.border-top {
    border-top: 3px solid lightgray;
    padding-top: 5px;
}
.textRed {
    color: red;
}